@charset "utf-8";

body {
    background-color: darkslategray;
}

header {
    text-align: center;
}

main {
    display: grid;
}

.bord {
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    word-break: break-all;
    align-content: stretch;
}

.mat {
    height: 200px;
    width: 400px;
    background-color: rgb(26, 66, 66);
    text-decoration: none;
    color: rgb(23, 199, 199);
    text-align: center;
    border-radius: 10px;
    transition: all 0.1s;
    font-size: 50px;
}

.mat:hover {
    transform: scale(1.02);
}

.title {
    color: rgb(23, 199, 199);
}

@media screen and (max-width: 550px){
    .bord {
        display: flex;
        flex-flow: column;
    }    
    .mat {
        margin-bottom: 10px;
    }
}