@charset "utf-8";

body {
    background-color: darkslategray;
}

header {
    text-align: center;
}

main {
    display: grid;    
}

.bord {
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    word-break: break-all;
    align-content: stretch;
}

.mat {
    height: 150px;
    width: 250px;
    background-color: rgb(59, 129, 129);
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 10px;
    transition: all 0.1s;
}

.mat:hover {
    background-size: cover;
    transform: scale(1.01);
}

.title {
    color: rgb(23, 199, 199);
}