@charset "utf-8";

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100%;
}

.jave {
    background: darkblue;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.dang {
    
}

.stepbro {
}

/* .stepbro:hover {
    transform: rotate(360deg);
} */

#light {
    visibility: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.twenty {

}

.slideshow {
    
}