@charset "utf-8";

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100%;
    min-width: 100%;
}

p {
    margin: 0;
}

.jave {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dark {
    width: 100%;
    height: 100%;
}

#light {
    visibility: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#slide {
    width: 100%;
    height: 100%;
}

.box2 h1 {
    user-select: none;
    position: absolute;
}

.arrow {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.back {
    margin-left: -180px;
}

.forw {
    margin-left: 180px;
}

.box3 {
    display: flex;
    flex-flow: column;
    font-size: 30px;
}

.box4 {
    display: flex;
    flex-flow: column;
}

.click {
    position: absolute;
}

.win {
    visibility: hidden;
}

.box5 {
    display: flex;
    flex-flow: column;
}

#cyber {
    height: 200px;
    border-radius: 10px;
}

#controls1 {
    display: flex;
    flex-flow: row;
}

#play {
    width: 60px;
}

#mute {
    width: 70px;
}

#percent {
    margin: 5px;
    width: 30px;
}

#controls2 {
    display: flex;
    flex-flow: row;
}

.box6 {
    display: flex;
    flex-flow: column;
}

.players {
    display: flex;
    flex-flow: row;
}

.score {
    margin: 0;
    font-size: 25px;
}

.pointers {
    margin: 0;
}

.winner {
    visibility: hidden;
}

.pocket {
    margin-bottom: 0px;
}

#winner {
    position: absolute;
    display: flex;
    background-color: black;
    color: chartreuse;
    border-radius: 5px;
    font-size: 25px;
}

@media screen and (max-width: 1000px){
    main {
        display: flex;
        flex-flow: column;
    }
    .jave {
        height: 300px;
    }
    .back {
        margin-left: -100px;
    }
    .forw {
        margin-left: 100px;
    }
}